# === Java & Maven (Build Artifacts) ===
target/
bin/
build/
out/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# === IDE Specific (VS Code, IntelliJ, STS, NetBeans) ===
.vscode/
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache
.apt_generated
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/

# === System & Logs ===
*.log
.DS_Store
Thumbs.db

# === Others ===
HELP.md